---
---

@import "{{ site.theme }}";

.page-header {
  background-color: rgb(174, 223, 243); /* your header color */
  background-image: none;
}

.project-name {
  color: #ffffff;
}

.project-tagline {
  color: #cbd5e1;
}

body {
  color: red;
}

a {
  color: #2563eb;
}