---
---

@import "{{ site.theme }}";

.page-header {
  background-color: rgb(193, 228, 243); /* your header color */
  background-image: none;
}

.project-name {
  color: #4ca3af;
}

.project-tagline {
  color: #4ca3af;;
}

body {
  color: #ffffff; 
}

a {
  color: #4ca3af; // link color
}